/* region stromboli-plugin-sass: src/wide-flash-sale/field/header/test/default */
/* region stromboli-plugin-sass: src/wide-flash-sale/field/header/src */
/* region stromboli-plugin-sass: src/global/grid/src */
/* region stromboli-plugin-sass: node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins */
/* endregion stromboli-plugin-sass: node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins */
/* region stromboli-plugin-sass: node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins */
/* endregion stromboli-plugin-sass: node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins */
/* region stromboli-plugin-sass: src/global/grid/src */
/* endregion stromboli-plugin-sass: src/global/grid/src */
/* region stromboli-plugin-sass: src/global/breakpoint/src */
/* endregion stromboli-plugin-sass: src/global/breakpoint/src */
/* endregion stromboli-plugin-sass: src/global/grid/src */
/* region stromboli-plugin-sass: src/global/color/src */
/* endregion stromboli-plugin-sass: src/global/color/src */
/* region stromboli-plugin-sass: src/global/font/src */
/* endregion stromboli-plugin-sass: src/global/font/src */
/* region stromboli-plugin-sass: src/global/breakpoint/src */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/single */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/single */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/double */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/double */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/double */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/double */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/double */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/double */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/triple */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/triple */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/resolution */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers/resolution */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint/parsers */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* region stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets/breakpoint */
/* endregion stromboli-plugin-sass: node_modules/breakpoint-sass/stylesheets */
/* endregion stromboli-plugin-sass: src/global/breakpoint/src */
/* region stromboli-plugin-sass: src/wide-flash-sale/global/button/src */
/* region stromboli-plugin-sass: src/global/font/src */
/* endregion stromboli-plugin-sass: src/global/font/src */
/* endregion stromboli-plugin-sass: src/wide-flash-sale/global/button/src */
/* line 7, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header {
    background-size: cover;
    background-color: white; }
/* line 11, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header > div {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px; }
/* line 14, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.wide-flash-sale--field--header > div:before, .wide-flash-sale--field--header > div:after {
    content: " ";
    display: table; }
/* line 19, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.wide-flash-sale--field--header > div:after {
    clear: both; }
/* line 16, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-scene {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
/* line 26, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-scene .slider-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
/* line 32, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-scene .slider-background img {
    width: 110%;
    margin-left: -5%;
    margin-top: -5%; }
/* line 39, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-scene .slider-background-cloud {
    position: absolute;
    width: 100%; }
/* line 42, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-scene .slider-background-cloud img {
    width: 45%;
    position: absolute; }
/* line 47, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-scene .slider-background-cloud.left img {
    left: -60px; }
/* line 50, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-scene .slider-background-cloud.top-right img {
    top: -70px;
    right: -60px;
    width: 55%;
    opacity: 0.9; }
/* line 56, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-scene .slider-background-cloud.right img {
    margin: auto 0;
    top: 6em;
    right: -60px; }
/* line 61, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-scene .slider-background-cloud.center img {
    margin: auto;
    top: 10em;
    left: 0;
    right: 0; }
/* line 67, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-scene .slider-background-cloud.city img {
    right: 0;
    top: 615px;
    width: 35%;
    opacity: 0.5; }
/* line 76, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative; }
/* line 14, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.wide-flash-sale--field--header .slider-watch-events:before, .wide-flash-sale--field--header .slider-watch-events:after {
    content: " ";
    display: table; }
/* line 19, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.wide-flash-sale--field--header .slider-watch-events:after {
    clear: both; }
/* line 84, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-events-title {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px; }
/* line 87, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-events-title h1 {
    text-align: center; }
/* line 92, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-events-info {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    font-size: 1.2em;
    color: #282828;
    font-weight: bold;
    padding-right: 20px;
    font-family: FuturaLT, Arial, sans-serif; }
@media (min-width: 1200px) {
    /* line 92, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
    .wide-flash-sale--field--header .slider-watch-events .slider-watch-events-info {
        float: left;
        width: 25%; } }
@media (min-width: 1200px) {
    /* line 92, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
    .wide-flash-sale--field--header .slider-watch-events .slider-watch-events-info {
        margin-left: 10.41666667%; } }
@media (min-width: 1200px) {
    /* line 92, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
    .wide-flash-sale--field--header .slider-watch-events .slider-watch-events-info {
        text-align: center; } }
/* line 108, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-events-info p {
    margin: 0; }
/* line 113, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-image {
    position: relative;
    float: left;
    width: 83.33333333%;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 8.33333333%;
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
    text-align: center; }
@media (min-width: 1200px) {
    /* line 113, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
    .wide-flash-sale--field--header .slider-watch-events .slider-watch-image {
        float: left;
        width: 29.16666667%; } }
@media (min-width: 1200px) {
    /* line 113, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
    .wide-flash-sale--field--header .slider-watch-events .slider-watch-image {
        margin-left: 0%; } }
/* line 121, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-image img {
    min-width: inherit;
    width: inherit !important;
    height: auto; }
/* line 128, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-shop {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px; }
@media (min-width: 1200px) {
    /* line 128, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
    .wide-flash-sale--field--header .slider-watch-events .slider-watch-shop {
        float: left;
        width: 25%; } }
/* line 133, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-details {
    font-family: FuturaLT, Arial, sans-serif;
    font-weight: normal;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px 0; }
/* line 142, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-hashtag-text {
    font-family: FuturaLT, Arial, sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    display: block;
    text-align: center;
    color: #736359;
    margin: 5px 0 20px 0; }
@media (max-width: 1615px) {
    /* line 142, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
    .wide-flash-sale--field--header .slider-watch-events .slider-watch-hashtag-text {
        letter-spacing: 2px; } }
@media (max-width: 1300px) {
    /* line 142, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
    .wide-flash-sale--field--header .slider-watch-events .slider-watch-hashtag-text {
        letter-spacing: 0; } }
@media (max-width: 1200px) {
    /* line 142, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
    .wide-flash-sale--field--header .slider-watch-events .slider-watch-hashtag-text {
        letter-spacing: 4px; } }
/* line 162, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-cart .event-watch-cart-btn {
    font-family: FuturaLT, Arial, sans-serif;
    display: block;
    width: 100%;
    max-width: 265px;
    color: white;
    text-transform: uppercase;
    background: url(src/wide-flash-sale/field/header/src/assets/images/cuir.jpg);
    background-color: #000000;
    background-repeat: repeat;
    background-position: top;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
    background: url(src/wide-flash-sale/global/button/src/assets/images/cuir.jpg); }
/* line 18, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/global/button/src/mixins.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-cart .event-watch-cart-btn:hover, .wide-flash-sale--field--header .slider-watch-events .slider-watch-cart .event-watch-cart-btn:focus {
    color: white;
    text-decoration: none;
    background-position: bottom; }
/* line 24, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/global/button/src/mixins.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-cart .event-watch-cart-btn > span {
    display: block;
    text-align: center;
    border: 1px dashed white;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    font-size: 18px;
    transition: border 450ms ease-out; }
/* line 167, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-cart > span {
    display: block;
    text-align: center; }
/* line 171, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-cart > span.slider-watch-price {
    font-family: FuturaLT, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #282828; }
/* line 178, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .slider-watch-events .slider-watch-cart > span.slider-watch-shipping {
    font-family: FuturaLT, Arial, sans-serif;
    font-size: 13px;
    margin: 15px 0;
    font-weight: lighter;
    color: #282828; }
/* line 189, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .bg {
    margin: 20px 0; }
/* line 193, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .clock {
    position: relative;
    margin: auto; }
@media (min-width: 990px) {
    /* line 193, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
    .wide-flash-sale--field--header .clock {
        padding: 0;
        width: 307px;
        height: 550px; } }
/* line 203, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .clock > img {
    max-width: 100%; }
/* line 209, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .wide-flash-sale--modal.pdf-preview {
    height: 80%; }
/* line 214, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .wide-flash-sale--modal.pdf-preview .modal-dialog,
.wide-flash-sale--field--header .wide-flash-sale--modal.pdf-preview .modal-content {
    height: 100%; }
/* line 219, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .wide-flash-sale--modal.pdf-preview .modal-dialog {
    margin: 0 auto; }
/* line 223, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .wide-flash-sale--modal.pdf-preview .modal-content {
    padding: 0; }
/* line 227, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .wide-flash-sale--modal.pdf-preview .modal-header {
    height: 5em;
    padding: 0 10px;
    border-bottom: none; }
/* line 232, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .wide-flash-sale--modal.pdf-preview .modal-header .close {
    margin-top: 0; }
/* line 237, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .wide-flash-sale--modal.pdf-preview .modal-body {
    position: absolute;
    top: 5em;
    bottom: 0;
    left: 10px;
    right: 10px;
    padding: 0; }
/* line 245, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
.wide-flash-sale--field--header .wide-flash-sale--modal.pdf-preview .modal-body iframe {
    height: 100%;
    width: 100%;
    border: none; }
@media (min-width: 990px) {
    /* line 253, /home/ericmorandcross/Projects/tag-heuer/html/design-implementation/src/wide-flash-sale/field/header/src/index.scss */
    .wide-flash-sale--field--header .wide-flash-sale--modal.pdf-preview .modal-dialog {
        width: 80%; } }

/* endregion stromboli-plugin-sass: src/wide-flash-sale/field/header/src */
/* region stromboli-plugin-sass: src/global/font/src */
@font-face {
    font-family: 'ProximaNova';
    font-weight: 700;
    src: url(src/global/font/src/assets/fonts/ProximaNova/311679_2_0.eot);
    src: url(src/global/font/src/assets/fonts/ProximaNova/311679_2_0.eot?#iefix) format("embedded-opentype"), url(src/global/font/src/assets/fonts/ProximaNova/311679_2_0.woff2) format("woff2"), url(src/global/font/src/assets/fonts/ProximaNova/311679_2_0.woff) format("woff"), url(src/global/font/src/assets/fonts/ProximaNova/311679_2_0.ttf) format("truetype"); }

@font-face {
    font-family: 'ProximaNova';
    font-weight: 100;
    src: url(src/global/font/src/assets/fonts/ProximaNova/311679_5_0.eot);
    src: url(src/global/font/src/assets/fonts/ProximaNova/311679_5_0.eot?#iefix) format("embedded-opentype"), url(src/global/font/src/assets/fonts/ProximaNova/311679_5_0.woff2) format("woff2"), url(src/global/font/src/assets/fonts/ProximaNova/311679_5_0.woff) format("woff"), url(src/global/font/src/assets/fonts/ProximaNova/311679_5_0.ttf) format("truetype"); }

@font-face {
    font-family: 'ProximaNova';
    font-weight: normal;
    src: url(src/global/font/src/assets/fonts/ProximaNova/311679_8_0.eot);
    src: url(src/global/font/src/assets/fonts/ProximaNova/311679_8_0.eot?#iefix) format("embedded-opentype"), url(src/global/font/src/assets/fonts/ProximaNova/311679_8_0.woff2) format("woff2"), url(src/global/font/src/assets/fonts/ProximaNova/311679_8_0.woff) format("woff"), url(src/global/font/src/assets/fonts/ProximaNova/311679_8_0.ttf) format("truetype"); }

@font-face {
    font-family: 'FuturaLT';
    font-weight: normal;
    src: url(src/global/font/src/assets/fonts/FuturaLT/FuturaLTMedium.eot);
    src: url(src/global/font/src/assets/fonts/FuturaLT/FuturaLTMedium.eot?#iefix) format("embedded-opentype"), url(src/global/font/src/assets/fonts/FuturaLT/FuturaLTMedium.woff2) format("woff2"), url(src/global/font/src/assets/fonts/FuturaLT/FuturaLTMedium.woff) format("woff"), url(src/global/font/src/assets/fonts/FuturaLT/FuturaLTMedium.ttf) format("truetype"); }

@font-face {
    font-family: 'FuturaLT';
    font-weight: 700;
    src: url(src/global/font/src/assets/fonts/FuturaLT/FuturaLTBold.eot);
    src: url(src/global/font/src/assets/fonts/FuturaLT/FuturaLTBold.eot?#iefix) format("embedded-opentype"), url(src/global/font/src/assets/fonts/FuturaLT/FuturaLTBold.woff2) format("woff2"), url(src/global/font/src/assets/fonts/FuturaLT/FuturaLTBold.woff) format("woff"), url(src/global/font/src/assets/fonts/FuturaLT/FuturaLTBold.ttf) format("truetype"); }

@font-face {
    font-family: 'NoSpace';
    src: url(src/global/font/src/assets/fonts/NoSpace/zerowidthspaces.eot);
    src: url(src/global/font/src/assets/fonts/NoSpace/zerowidthspaces.eot?#iefix) format("embedded-opentype"), url(src/global/font/src/assets/fonts/NoSpace/zerowidthspaces.woff) format("woff"), url(src/global/font/src/assets/fonts/NoSpace/zerowidthspaces.ttf) format("truetype"); }

/* endregion stromboli-plugin-sass: src/global/font/src */
/* endregion stromboli-plugin-sass: src/wide-flash-sale/field/header/test/default */